<div class="side-bar--container">
   <img src="../../assets/spline.png" alt="" class="app-logo">

   <div class="links-container">
       <button>
           <mat-icon>grid_view</mat-icon>
       </button>
       <button>
           <mat-icon>signal_cellular_alt</mat-icon>
       </button>
       <button>
           <mat-icon>mail</mat-icon>
       </button>
       <button>
           <mat-icon>calendar_month</mat-icon>
       </button>
       <button>
           <mat-icon>settings</mat-icon>
       </button>

       <div class="link-profile--container">
        <button class="active">
            <mat-icon>face_6</mat-icon>
        </button>
        <button>
            <mat-icon>logout</mat-icon>
        </button>
       </div>
   </div>
</div>
