<div class="top-container">
    <h1>Boards</h1>
    <div class="top-buttons">
        <button class="button-select">
            Barone llC. <mat-icon>expand_more</mat-icon>
        </button>

        <div class="search-container">
            <div class="search">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Search">
            </div>
            <div class="users">
                <div class="user user1">
                    <mat-icon>face_6</mat-icon>
                </div>
                <div class="user user2">
                    <mat-icon>face_6</mat-icon>
                </div>
                <div class="user user3">
                    <mat-icon>face_6</mat-icon>
                </div>
                <button class="user user4">
                    <mat-icon>add</mat-icon>1
                </button>
            </div>
        </div>
    </div>
</div>